[Unit]
Description=Chrome actions server

[Service]
Environment="PATH=/usr/bin:%h/.npm-global/bin/"
EnvironmentFile=%h/.private/google
WorkingDirectory=%h/projects/nglgzz/chrome-actions
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=default.target

