[delta]
  navigate = true
  features = unobtrusive-line-numbers decorations colorblind-theme-dark
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-left-style = auto
  line-numbers-right-style = auto
  line-numbers-left-format = ""
  line-numbers-right-format = "{np:>3} "

[delta "decorations"]
  file-style = bold yellow ul
  file-decoration-style = ul "#555555"
  hunk-header-decoration-style = none

[delta "colorblind-theme-dark"]
  syntax-theme = "Monokai Extended Bright"
  minus-style = "syntax #392b0a"
  minus-emph-style = "syntax #724718"

  plus-style = "syntax #0e295a"
  plus-emph-style = "syntax #2756af"

  line-numbers-minus-style = "#d7852d"
  line-numbers-plus-style = "#678fda"
  line-numbers-zero-style = "#555555"
