[submodule "config/vim/bundle/auto-pairs"]
	path = dots/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "config/vim/bundle/vim-javascript"]
	path = dots/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "dots/.vim/bundle/fzf.vim"]
	path = dots/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
