[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPost=/usr/bin/sleep 1
ExecStart=/usr/bin/i3lock --color '000000'

[Install]
WantedBy=sleep.target
